<video controls 
autoplay  data-cloud-name= "{{ cloud_name}}" 
data-video-url = "{{ video_url }}"
data-public-id = "{{ public_id }}"
id="demo-player" 
    class="cfe-video"
    
    source src="{{video_url}}"
      >
</video>

<script>
    const videoPlayerid = 'demo-player';
    const  cld = cloudinary.Cloudinary.new({ cloud_name: 'demo' });
    var player = document.getElementById(videoPlayerid);
    if(player){
        const cloudname = player.dataset.cloudName;
        const publicId = player.dataset.publicId;

        console.log('Video started');
        alert('Video started');
    }
</script>

